<!-- Aqui tendremos la comprobación del campo que nos dira que html cargar según el contenido a mostrar-->
{{ $generalInfo := index (.Params.general) 0 }}
{{ $sobreTec := index (.Params.sobre_tecnologia) 0 }}
{{ $aspectesInnova := index (.Params.aspectes_innovadors) 0 }}
{{ $apps := index (.Params.aplicacions) 0 }}
{{ $grupsRecerca := index (.Params.grups_recerca) 0 }}
{{ $contacte := index (.Params.contacte) 0 }}
		<section class="info-general">
			<div class="row">
				<div class="col-xs-12">
					<div class="page-title title-border-green">
						<h2>ALTER</h2>
					</div>
				</div>
				<div class="col-xs-12 col-md-9">
					<section
						style="background-image: linear-gradient(to right, rgba(56, 255, 144, 1), rgba(56, 255, 144, 0.20)),  url('https://preview-transfer-research.am.pre.uoc.es/img/api/grupsrecerca/61/image/1573115619158');  "
						class="bg-secondary">
						<div class="container">
							<div class="row">
								<div class="col-md-4 col-lg-6">
									<h2>
										Crisi, alteritat i representació (test 21/11)
									</h2>
								</div>
								<div class="col-md-6"></div>
								<div data-dropdown="" class="dropdown">
									<button data-dropdown-trigger="" aria-label="Texto descriptivo"
										aria-expanded="false" aria-controls="dropdown__content1"
										class="btn btn--primary dropdown__trigger">A la xarxa<span aria-hidden="true"
											class="icon icon--share"></span></button>
										
										
									
									
								</div>
							</div>
						</div>
					</section>
				</div>
				<div class="col-xs-12 col-md-3">
					<div class="ficha-detail">
						<div class="box">
							<div class="boxGrey">
								
								<p><strong>Investigador principal:</strong>Martínez Robles, David</p>
								
								
								<p><strong>Àmbit:</strong> Ciències de la Salut, Arts i Humanitats</p>
								
								
								
								
								
							</div>
							
								
								
								
							
						</div>
					</div>
				</div>
			</div>
		</section>
		<section data-tab-system="" class="ficha-detail mT60">
			<div class="row">
				<div class="col-xs-12 col-md-3">
					<ul role="tablalist" data-sticky="data-sticky" class="list-group borderTopGrey toStick">
						<li role="presentation"><a id="tab-10" href="#tab-content-10" role="tab"
								aria-controls="tab-content-10" aria-selected="true" data-tab-trigger=""
								class="tab is-active js-width-final"><span>Sobre el grup</span></a></li>
				
						<li role="presentation"><a id="tab-11" href="#tab-content-11" role="tab"
								aria-controls="tab-content-11" aria-selected="false" data-tab-trigger=""
								class="tab"><span>Membres</span></a>
						</li>
				
				
						<li role="presentation"><a id="tab-12" href="#tab-content-12" role="tab"
								aria-controls="tab-content-12" aria-selected="false" data-tab-trigger=""
								class="tab"><span>Recerca i transferència</span></a>
						</li>
				
				
				
				
						<li role="presentation"><a id="tab-13" href="#tab-content-13" role="tab"
								aria-controls="tab-content-13" aria-selected="false" data-tab-trigger=""
								class="tab"><span>Publicacions</span></a></li>
				
				
				
						<li role="presentation"><a id="tab-15" href="#tab-content-15" role="tab"
								aria-controls="tab-content-15" aria-selected="false" data-tab-trigger=""
								class="tab"><span>Contacte</span></a>
						</li>
					</ul>
					<div class="content-for-sticky"></div>
				</div>
				<div class="col-xs-12 col-md-9">
					<div id="tab-content-10" data-tab-content="" role="tabpanel" aria-labelledby="tab-10"
						aria-hidden="false" class="tab-content is-active">
						<div class="js-collapse-group">
							<div class="collapse">
								<div class="head-collapse js-collapse">
									<p><a href="#collapse2" aria-expanded="false"
											class="js-collapseClick">Sobre el grup<span
												class="icon icon--arrow-down"></span></a></p>
								</div>
								<div id="collapse2" class="contentCollapse show">
									<div class="wrap-richText">
										<p>La investigaci&oacute;n de los diferentes miembros de ALTER se centra en el estudio de un amplio abanico de procesos y fen&oacute;menos interculturales, comparativos y transnacionales especialmente vinculados con Asia oriental desde una perspectiva multidisciplinaria. La investigaci&oacute;n del grupo trabaja con conceptos clave como alteridad, crisis, modernidad, discurso, colonialismo y poscolonialismo, transnacionalismo y globalizaci&oacute;n.</p>
<p>&nbsp;</p>
<p>Esta investigaci&oacute;n se basa en dos principios fundamentales: a) &eacute;tico: el grupo pretende defender, ejercer y reflexionar sobre la base de un comparatismo plural y transnacional, localmente diverso y espec&iacute;fico, que supere barreras, preconcepciones y jerarqu&iacute;as de &aacute;rea geogr&aacute;fica; b) metodol&oacute;gico: el grupo investiga a partir de las nuevas aproximaciones y reflexiones de la literatura comparada, la historia y la filosof&iacute;a.</p>
<p>&nbsp;ALTER naci&oacute; en 2009 en los Estudios de Artes y Humanidades de la Universitat Oberta de Catalunya (UOC).</p>
									</div>
								</div>
							</div>
							
							
							<div class="collapse">
								<div class="head-collapse js-collapse">
									<p><a href="#collapse3" aria-expanded="false"
											class="js-collapseClick">Línies de Recerca del Grup<span
												class="icon icon--arrow-down"></span></a></p>
								</div>
								<div id="collapse3" class="contentCollapse">
									<div class="wrap-richText">
										
										
											<p><strong><p><strong>Representaciones del Asia oriental en el mundo contempor&aacute;neo</strong></p>
<p>&nbsp;</p></strong></p>
										

										
										<img src="https://preview-transfer-research.am.pre.uoc.es/img/icons/icon_ods_color_10.svg" alt="">
										
										
										
											<p><strong><p><em><strong>Global Studies, historia y literatura</strong></em></p>
<p>Esta l&iacute;nea de investigaci&oacute;n pretende reflexionar de manera cr&iacute;tica sobre el significado y el potencial del impacto de la globalizaci&oacute;n en los discursos producidos desde el mundo acad&eacute;mico en disciplinas human&iacute;sticas como la literatura y la historia.</p></strong></p>
										

										
										<img src="https://preview-transfer-research.am.pre.uoc.es/img/icons/icon_ods_color_04.svg" alt="">
										
										
										
											<p><strong><p><strong>Historia intelectual en el Asia oriental</strong></p>
<p>&nbsp;</p></strong></p>
										

										
										<img src="https://preview-transfer-research.am.pre.uoc.es/img/icons/icon_ods_color_14.svg" alt="">
										
										
										
											<p><strong><p><em><strong>Sinophone Studies and Taiwan Studies</strong></em></p>
<p>This line researches the cultural phenomena produced in Sinophone contexts around the world, with particular focus on the case of Taiwan.</p></strong></p>
										

										
										
									</div>
								</div>
							</div>
							
						</div>
					</div>
					
					
					<div id="tab-content-11" data-tab-content="" role="tabpanel" aria-labelledby="tab-11"
						aria-hidden="true" class="tab-content">
						<div class="collapse">
							<div class="head-collapse js-collapse">
								<p><a href="#collapse1" aria-expanded="false"
										class="js-collapseClick">Membres<span
											class="icon icon--arrow-down"></span></a></p>
							</div>
							<div id="collapse1" class="contentCollapse">
								<div class="card-in-acordeon">
									<div class="row list-members">
										<div class="row data-members"></div>
										<div class="row">
											<div class="col-xs-12">
												<div role="navigation" class="pagination-members"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
				
					<div id="tab-content-12" data-tab-content="" role="tabpanel" aria-labelledby="tab-12"
						aria-hidden="true" class="tab-content">
						<div class="collapse">
							<div class="head-collapse js-collapse">
								<p><a href="#collapse2" aria-expanded="false"
										class="js-collapseClick">Projectes <span
											class="icon icon--arrow-down"></span></a></p>
							</div>
							<div id="collapse2" class="contentCollapse">
								<div class="row list-projects">
									<div class="row data-projects"></div>
									<div class="row">
										<div class="col-xs-12">
											<ul role="navigation" class="pagination-projects"></ul>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="collapse">
							<div class="head-collapse js-collapse">
								<p><a href="#collapse6" aria-expanded="false"
										class="js-collapseClick">Transferència <span
											class="icon icon--arrow-down"></span></a></p>
							</div>
							<div id="collapse6" class="contentCollapse show">
								<div class="wrap-richText">
									
								</div>
							</div>
						</div>
						<div class="collapse">
							<div class="head-collapse js-collapse">
								<p><a href="#collapse9" aria-expanded="false"
										class="js-collapseClick">Altres activitats de recerca
										<span class="icon icon--arrow-down"></span></a></p>
							</div>
							<div id="collapse6" class="contentCollapse show">
								<div class="wrap-richText">
									 
									
								</div>
							</div>
						</div>
					</div>
				
				
				
					<div id="tab-content-13" data-tab-content="" role="tabpanel" aria-labelledby="tab-13"
						aria-hidden="true" class="tab-content">
						<div class="collapse">
							<div class="head-collapse js-collapse">
								<p><a href="#collapse10" aria-expanded="false"
										class="js-collapseClick">Publicacions<span
											class="icon icon--arrow-down"></span></a></p>
							</div>
							<div id="collapse10" class="contentCollapse show">
								<div class="card-in-acordeon">
									<div class="row list-publications">
										<div class="row data-publications"></div>
										<div class="row">
											<div class="col-xs-12">
												<ul role="navigation" class="pagination-publications"></ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				
				
				
					<div id="tab-content-15" data-tab-content="" role="tabpanel" aria-labelledby="tab-15"
						aria-hidden="false" class="tab-content">
						<div class="collapse">
							<div class="head-collapse js-collapse">
								<p><a href="#collapse12" aria-expanded="true"
										class="js-collapseClick">Contacte<span
											class="icon icon--arrow-down"></span></a></p>
							</div>
							<div id="collapse12" class="contentCollapse show">
								<div class="contact-list-icon">
									<div class="row">
										<div class="col-xs-12 col-md-9">
											<div class="wrap-content">
												 http://in3.uoc.edu/opencms_in3/opencms/webs/grups_de_recerca/alter/en/index.html 
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
