{{$type := .Type }}
{{$generalInfo := index (.Params.general) 0 }}
<section>
    <div class="row">
        <div class="col-xs-12 col-md-3">
            <div class="page-title title-border-green ">
                {{if eq $type "noticies"}}
                <h3 class="col-xs-12 col-md-3"><strong>{{ T "uoc_ri_difusio_noticia"}}</strong></h3>
                {{else}}
                <h3 class="col-xs-12 col-md-3"><strong>{{ T "uoc_ri_difusio_esdeveniment"}}</strong></h3>
                {{end}}
            </div>
        </div>
        <div class="col-xs-12 col-md-9">
            <div class="page-title title-border-green">
                <h1>{{ $generalInfo.titol}}</h1>
            </div>
        </div>
        <div class="col-xs-12 col-md-3">
            
        </div>
        <div class="col-xs-12 col-md-9">
            <figure class="img-figure">
                <img src="/img/detalle-noticia.jpg">
                <figcaption class="img-figcaption">
                    <div class="float-left" id="img-figcaption1">
                        <em class="text-extra-small">Foto: {{$generalInfo.img_autor}}</em>
                        <br><br>
                        {{dateFormat "02/01/2006" $generalInfo.data}} <br>  {{$generalInfo.autor}}
                    </div>
                    <div class="float-right" role="complementary" id="img-figcaption2">
                        
                        <div class="social-links unstyled">
                            {{ range where .Params.general "xarxes" "==" "facebook" }}
                            <script>console.log("AAAAAAAAAAAAAAAAAAA")</script>
                            <a onclick="_gaq.push(['_trackEvent','Footer','{{ T "uoc_grup_footer_social"}}', 'Facebook']);" href="http://www.facebook.com/UOC.universitat" target="_blank"
                                    title='Facebook {{ T "uoc_grup_footer_links_new_window"}}' aria-label='Facebook {{ T "uoc_grup_footer_links_new_window"}}'><span class="icon icon--social-facebook"> </span></a>
                            {{ end }}
                                    <a onclick="_gaq.push(['_trackEvent','Footer','{{ T "uoc_grup_footer_social"}}', 'Twitter']);"	href="http://twitter.com/UOCuniversitat" target="_blank"
                                    title='Twitter {{ T "uoc_grup_footer_links_new_window"}}' aria-label='Twitter {{ T "uoc_grup_footer_links_new_window"}}'><span class="icon icon--social-twitter"> </span></a>
                            <a onclick="_gaq.push(['_trackEvent','Footer','{{ T "uoc_grup_footer_social"}}', 'Instagram']);" href="https://www.linkedin.com/school/uoc/" target="_blank"	
                                    title='LinkedIn {{ T "uoc_grup_footer_links_new_window"}}' aria-label='LinkedIn {{ T "uoc_grup_footer_links_new_window"}}'><span class="icon icon--social-instagram"> </span></a>
                        </div>

                    </div>
                </figcaption>
            </figure>
        </div>
    </div>
</section>
<div class="row">
    <div class="ruler ruler--thin"></div><br>
</div>
<section>
    <div class="row">
        <div class="col-xs-12 col-md-3">
            {{if eq $type "noticies"}}
                {{$descMap := (index (index .Params.descripcio) 0) 0}}
                <blockquote class="pullquote">{{$descMap.entrada}}</blockquote>
            {{end}}
        </div>
        <div class="col-xs-12 col-md-9">
            {{if eq $type "noticies"}}
                {{$descMap := (index (index .Params.descripcio) 0) 0}}
                <p>{{safeHTML (markdownify $descMap.descripcio)}}</p>
            {{else}}
                <p>{{$generalInfo.descripcio}}</p>
                
                    <div class="card card--image-horizontal card--info col-xs-12 card--2y col-clear-right">
                        <div class="card__contents col-xs-12 col-md-6">
                            <h3 class="h4">Dirección</h3>
                            <p>Rambla del Poblenou, 16<br>08018 Barcelona</p>
                            <h3 class="h4 clear-both">Horario</h3>
                            <p>
                                Lunes a jueves: 9 - 14 h y 15 - 18.30 h<br>
                                Viernes: 9 - 14 h</p>
                            <p>
                            &nbsp;</p>
                        </div>
                            <div class="card__image col-xs-12 col-md-6">
                                <div tabindex="700" id="map" class="map"></div>
                                
                            </div>
                    </div>                
                
            {{end}}
        </div>
    </div>             
</section>
       

