<!DOCTYPE html>
<html lang="{{.Site.Language.Lang}}">

<head>
        {{ partial "head.html" . }}
</head>

<body>

    {{ partial "google_code_body.html" . }}
    {{ partial "header.html" . }}
    
    <div class="site-wrapper">
        <section class="titol-pagina">
            <div class="row">
                <div class="col-xs-12">
                    <div class="page-title title-border-green">
                        <h2>{{ T "uoc_difusio" }}</h2>
                    </div>
                </div>
            </div>

            {{ range first 1 (where (where .Site.Pages.ByDate ".Params.destacat" true) ".Params.language" .Site.Language.Lang)}}
            <div class=" col-md-9 col-xs-9">
                <a href="{{.Permalink}}" class="card-absolute-link"></a>
                <div class="bg-simple img-wpr img-wpr--horizontal img--tint">
                    {{ with .Params.general.img}}<img src="{{.}}" class="img-wpr__cover" >{{end}}
                    <div class="img-wpr__contents">
                        <div class="row">
                            <div class="col-md-7">
                                <p class="h3 inverse">{{ with .Params.general.titol}}{{.}}{{end}}</p>
                                {{ with .Params.general.entrada}}<p class="h4 inverse">{{.}}</p>{{end}}
                            </div>
                        </div>
                    </div>
                    <div class="img-wpr__contents">
                        <div class="row">
                            <div class="float-right p-right-x text-small inverse">{{if eq .Type "noticies" }}{{ T "uoc_ri_noticia" }}{{else}}{{ T "uoc_ri_esdeveniment" }}{{end}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{end}}

            {{ range first 1 (after 1 (where (where .Site.Pages.ByDate ".Params.destacat" true) ".Params.language" .Site.Language.Lang))}}
            <div class="col-xs-6 col-md-3" role="article">
                <a href="{{.Permalink}}" class="card-absolute-link"></a>
                <div class="card" role="region" aria-label="Texto descriptivo" >
                    <div class="card__image">
                        <img src="{{with .Params.general.img}}{{.}}{{end}}" alt="{{with .Params.general.titol}}{{.}}{{end}}">
                    </div>
                    <div class="card__contents" >
                        <p class="text-big text font-alternate">{{.Params.general.titol}}</p>
                        {{ with .Params.general.entrada}}<p class="text-small text font-alternate"><blockquote class="pullquote">{{.}}</blockquote></p>{{end}}
                    </div>
                    <div class="card__footer">
                        <div class="float-left p-left-x  icon icon--external-link"></div>
                        <div class="float-right p-right-x">{{if eq .Type "noticies" }}{{ T "uoc_ri_noticia" }}{{else}}{{ T "uoc_ri_esdeveniment" }}{{end}}</div>
                    </div>
                </div>
            </div>
            {{end}}
            
            <div class="row">
                <div class="col-xs-12">
                    <div class="text-align-center text-small" style="margin-top:50px;margin-bottom:50px;">
                        <h4><strong>{{ T "uoc_ri_difusio_novetats" }}</strong></h3>
                            <p><a id="st1" href="" class="text-align-center text-small">
                                <div class="icon icon--arrow-down"></div>
                            </a></p>
                        </div>
                    </div>
                </div>
                
                
                <div class="row">
                    <div class="col-xs-12 col-md-12 col-lg-12" >
                        
                        {{ range first 8 (after 2 (where (where .Site.Pages.ByDate ".Params.destacat" true) ".Params.language" .Site.Language.Lang))}}
                        
                        {{if eq .Type "noticies" }}
                        <div class="col-xs-6 col-md-3" role="article" data-id="">
                            
                            <a href="{{.Permalink}}" class="card-absolute-link"></a>
                            <div class="card" role="region" aria-label="Texto descriptivo" >
                                <div class="card__image">
                                    {{with .Params.general.img}}<img src="{{.}}" alt="Texto alternativo">{{end}}
                                </div>
                                <div class="card__contents" >
                                    {{with .Params.general.titol}}<p class="text-big text font-alternate">{{.}}</p>{{end}}
                                    {{with .Params.general.entrada}} <p class="text-small text"><blockquote class="pullquote">{{.}}</blockquote></p>{{end}}
                                </div>
                                <div class="card__footer">
                                    <div class="float-left p-left-x  icon icon--external-link"></div>
                                    <div class="float-right p-right-x">{{ T "uoc_ri_noticia" }}</div>
                                </div>
                            </div>
                        </div>
                        {{else if eq .Type "esdeveniments"}}
                        
                        <div class="col-xs-6 col-md-3" role="article" data-id="">
                            
                            <a href="{{.Permalink}}" class="card-absolute-link"></a>
                            <div class="card" role="region" aria-label="Texto descriptivo" >
                                <div class="card__image">
                                    {{with .Params.general.img}}<img src="{{.}}" alt="Texto alternativo">{{end}}
                                </div>
                                <div class="card__contents" >
                                    {{with .Params.general.titol}}<p class="text-big text font-alternate">{{.}}</p>{{end}}
                                </div>
                                <div class="card__footer">
                                    <div class="float-left p-left-x  icon icon--external-link"></div>
                                    <div class="float-right p-right-x">{{ T "uoc_ri_esdeveniment" }}</div>
                                </div>
                            </div>
                        </div>
                        {{end}} 
                        {{end}}                                                            

                    </div>
                </div>
                
                <!-- <ul role="navigation" class="pagination">
                    <li class="col-md-1 pagination__item is-active">
                        <span title="Pagina 1" aria-label="Pagina 1" aria-selected="true" class="pagination__link">01</span>
                    </li>
                    <li class="col-md-1 pagination__item">
                        <a href="#" title="Pagina 2" aria-label="Pagina 2" aria-selected="false" class="pagination__link">02</a>
                    </li>
                    <li class="col-md-1 pagination__item">
                        <a href="#" title="Pagina 3" aria-label="Pagina 3" aria-selected="false"  class="pagination__link">03</a>
                    </li>
                    <li class="col-md-1 pagination__item">
                        <a href="#" title="Pagina 4" aria-label="Pagina 4" aria-selected="false" class="pagination__link">04</a>
                    </li>
                    <li class="col-md-5 pagination__item">
                        <a href="#" title="Pagina 5" aria-label="Pagina 5" aria-selected="false" class="pagination__link">05</a>
                    </li>
                    <li class="col-xs-12 col-md-3 pagination__item pagination__item--next">
                        <a href="#" title="Enlace siguiente" aria-label="Enlace siguiente" rel="next" class="btn btn--primary">Siguiente</a>
                    </li>
                </ul> -->
                
            
            {{ partial "footer.html" . }}
        </div>    
        {{ partial "ri_js_imports.html" . }}
</body>
</html>