<!DOCTYPE html>
<html lang="{{.Site.Language.Lang}}">

<head>
    {{ partial "head.html" . }}
    {{ $generalInfo := index (.Params.general) 0 }}
    {{ $sobreTec := index (.Params.sobre_tecnologia) 0 }}
    {{ $aspectesInnova := index (.Params.aspectes_innovadors) 0 }}
    {{ $apps := index (.Params.aplicacions) 0 }}
    {{ $grupsRecerca := index (.Params.grups_recerca) 0 }}
    {{ $contacte := index (.Params.contacte) 0 }}
</head>

<body>
    {{ partial "header.html" . }}
    <div class="site-wrapper">
        
            <section class="titol-pagina">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="page-title title-border-green">
                            <h2>{{ $generalInfo.nom_solucio }}</h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-xs-8 card__contents img-wpr img-wpr--horizontal">
                    <section class="banner-full banner-full--inverse">
                        <img src="{{$generalInfo.img_background}}" aria-labelledby="banner-full__title1" aria-describedby="banner-full__description1" class="fullwidth__image">
                        <div class="banner-full__content col-xs-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <span id="banner-full__title1" class="banner-full__title">{{$generalInfo.text_breu}}</span>
                                    <p id="banner-full__description1" class="banner-full__description">{{$generalInfo.text_breu}}</p>
                                    
                                </div>
                            </div>
                            <div class="row" style="vertical-align:bottom;"><div class="col-md-6"><a href="#" class="btn btn--call-to-action col-xs-6">Call to action</a></div></div>
                        </div>
                    </section>
                </div>

                <div class="card col-md-4 col-xs-4" role="region">
                    <div class="card__contents">
                        <div>
                            <p></p>
                        </div>
                    </div>
                </div>

                <div id="main-contents">
    
                    <div class="col-xs-12 col-md-3"></div>
                        <div class="projectDetail col-xs-12 col-md-6">
                            
                            
                            <div class="paragraph"><span class="bold"></span></div>
                            
                            
                            <div class="paragraph"><span class="bold"></span> 
                                
                            </div>
                            
                            
                            <div class="paragraph">
                                <span class="bold"></span>
                            </div>
                            
                            
                            <div class="paragraph">
                                <span class="bold"></span>
                            </div>
                            
                            
                            <div class="paragraph">
                                <span class="bold"></span>
                            </div>
                            
                            
                            
                            <div class="paragraph">
                                <span class="bold"></span>
                            </div>
                            
                            <div class="paragraph"><span class="bold"></span></div>
                            <div class="paragraph"><span class="bold"></span></div>
                            
                        </div>
                    
                    </div>

            </section>           
            
        {{ partial "footer.html" . }}
    </div>    
</div>
{{ partial "ri_js_imports.html" . }}
<!--script src="/js/search.js"></script-->
</body>
</html>




























