<!DOCTYPE html>
<html lang="{{.Site.Language.Lang}}">

<head>
    {{ partial "head.html" . }}
    {{ $generalInfo := index (.Params.general) 0 }}
    {{ $sobreTec := index (.Params.sobre_tecnologia) 0 }}
    {{ $aspectesInnova := index (.Params.aspectes_innovadors) 0 }}
    {{ $apps := index (.Params.aplicacions) 0 }}
    {{ $grupsRecerca := index (.Params.grups_recerca) 0 }}
    {{ $contacte := index (.Params.contacte) 0 }}
</head>

<body>
    {{ partial "header.html" . }}
    <div class="site-wrapper">                  
        {{ partial "detail.html" . }}   
        {{ partial "footer.html" . }}
    </div>    
{{ partial "ri_js_imports.html" . }}
<!--script src="/js/search.js"></script-->
<script type="text/javascript">
  $(function(){
    var menus = $('li[class="list-group__item"]');
    
    for(var i = 0; i<menus.length;i++){
      $(menus[i].children[0].getAttribute("href")).css("max-height","0px").css("visibility","hidden");
      if(menus[i].children[0].hash == '#sobre_tecnologia') {
        $(menus[i].children[0].getAttribute("href")).css("visibility","visible").css("height","100%");
      } 
    }

    //console.log('default selected option -->',selected_option);
    console.log('menus---',menus);
  });

  $('li[class="list-group__item"]').on('click',function(){
    console.log('this--->',$(this))
    console.log('finding a with id attr ',$(this).find('a').attr("href"));
    //var viewId = $(this).attr("href");
    //$(viewId).show().siblings("div").hide();
    var menus = $('li[class="list-group__item"]');
    
    for(var i = 0; i<menus.length;i++){
      $(menus[i].children[0].getAttribute("href")).css("max-height","0px").css("visibility","hidden");
      if(menus[i].children[0].getAttribute("href")==$(this).find('a').attr("href")) {
        $(menus[i].children[0].getAttribute("href")).css("visibility","visible").css("height","100%");
        //$(this).classList.add() si el css + html del javi funciona bé, aixo fora.
      } 
    }

  });

</script>
</body>
</html>




























